<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>876614577382-obb70cmpcetlg38mm6cne3m9bi2btdn9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.876614577382-obb70cmpcetlg38mm6cne3m9bi2btdn9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>876614577382-irb8i3uvord8456sufp8vu99sint9eep.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAnSYnvCWqTeFhXEO3RXNZgatf9Ij4eFxM</string>
	<key>GCM_SENDER_ID</key>
	<string>876614577382</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.indianDate</string>
	<key>PROJECT_ID</key>
	<string>yujin-8b576</string>
	<key>STORAGE_BUCKET</key>
	<string>yujin-8b576.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:876614577382:ios:2f3184b1c1249d0df25f27</string>
</dict>
</plist>